@import url(../Css/variables.css);
@import url(../Css/colors/colors.css);
header{
  padding: 0 15px;
}
.main-nav .nav-item:first-child .nav-link {
  border-left: 1px solid #000;
  padding-left: 0.5rem;
}
.main-nav .nav-item .nav-link:hover{
  color: var(  --red-nav-item);
  border-color: var(  --red-nav-item);
}
.main-nav .nav-item {
  margin-left: 0.9rem;
}
.main-nav .nav-item .nav-link{
  line-height: 3px;
  color: var(--nav-link-color);
  font-size: 9px;
}
.main-nav .nav-item:last-of-type .nav-link {
  color: var(--dark-red-color);
}
.logo-img {
  width: 130px;
}

.search-wrapper {
  position: relative;
  width: 100%;
}
.search-wrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.search-wrapper i:hover {
  color: var(--menu-item-color);
}
.login {
display: inline-block;
background-color: var(--white-color);
color: var(--light-btn-color);
border-radius: 5px;
box-sizing: border-box;
white-space: nowrap;
font-size: 10px;
}
.user-status {
  color: var(--light-btn-color);
  font-size: 12px;
  font-weight: 400;
  
}
.shopping-icon {
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--shopping-color);
  padding: 0.5rem;
  font-size: 15px;
}
.shopping-cart{
  white-space: nowrap;
}
.shopping-cart-group {
  position: relative;
}
.icon-circled {
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white-color);
}
.shopping-number {
  position: absolute;
  left: -5px;
  top: -9px;
  background-color: var(--menu-item-color);
  height: 18px;
  width: 18px;
}

.product-list a{
  color: var(--dark-color);
}
.head-item{
font-size: 12px;
font-weight: bold;
border-bottom: 1px solid var(--border-color);

}
.sub-item{
font-size: 10px;
}
.menu-item{
  margin-left: 16px;
  box-shadow: 0 2px 0 transparent; 
  padding: 0.5rem 0;
  overflow: hidden;
}
.menu-item:hover {
box-shadow: 0 2px 0 var( --menu-item-color);
}
.menu-item .nav-link{
  padding: 0;
}
.menu-nav .nav-link{
color: var(--dark-color);
}
.menu-nav .nav-link:hover{
  color: var(--menu-item-color);
}
.menu-toggle{
  display: none;
}
#openProduct{
  border: none;
  background-color: transparent;
}
@media screen and (max-width:568px) {
  .login{
   font-size: 8px;
  }
 }
 @media screen and (max-width: 768px) {
   .login {
     width: auto;
     height: 33px;

   }
   .login i {
     display: none;
   }
   .shopping-info {
     display: none;
   }
   .logo {
     justify-content: flex-end;
   }

   .shopping-cart{
     height: 100%;
   }
   .search{
    position: absolute;
    right: 0;
    top: 113px;
   }

 }
 @media screen and (max-width:991px) {
  .menu-container {
    position: relative;
}

.menu-toggle {
  display: block;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
    background-color: transparent;
    position:absolute;
    top: -70px;
    right: -8px;
}

.menu {
    display: none;
    width: 300px;
    background: var(--white-color);
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10001;
}
.menu-header{
  background-color:var(--secondary-menu-color) ;
}
.menu-header a{
  color: var(--white-color);
  font-size: 8px;
  padding: 0.9rem 1.2rem;
  white-space: nowrap;
}
.menu-header .btn-close{
  font-size: 12px;
  filter: invert(100%);
  opacity: 1;
  padding-right: 14px;
}
.menu-item{
  width: 300px;
  padding: 0.5rem 0.8rem;
  border-bottom: 1px solid var(--border-color);
}
.menu-item:hover{
box-shadow: none;
}
.jobs{
  color: var(--dark-color);
}
.menu-item .nav-link:hover{
  text-decoration: none;
  color:var(--dark-red-color);
}
.open-list{
  font-size: 11px;
}
.mobile-menu-header{
  font-size: 12px;
  padding: 0.5rem 0.8rem;
  border-bottom: 1px solid var(--border-color);
}


.nav-item a {
    color: #fff;
    text-decoration: none;
}

.product-list {
    display: none; 
}
.product-list.acitve{

}

.product-dropdown {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.column {
    list-style: none;
    padding: 0;
    margin: 0;
}

.head-item, .sub-item {
    padding: 10px;
    background: #222;
}
.head-item a, .sub-item a {
    color: #ddd;
    text-decoration: none;
}
.menu.active {
    display: block;
}
.hamburger-menu {
  width: 16px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 11px;
}
.line {
  height: 2px;
  background-color: black; 
}
}
@media screen and (min-width:992px) {
  .menu-item:hover > .product-list {
    max-height: 500px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }


  .product-list {
    position: absolute;
    max-height: 0;
    overflow: hidden; 
    transition: max-height 1.5s ease; 
    z-index: 66;
    width: auto;
    margin: 0 auto;
    background-color: var(--white-color);
    top: calc(100% + 1px); 
  
  }
  .column{
    width: 300px;
    padding: 2rem;
  }
  .menu-item .jobs{
    color: var(--dark-red-color);
  }
  .menu-item .jobs:hover{
    color: var(--dark-red-color);
  }
}
.best-li {
  position: relative;
}

.best-list {
  opacity: 0;
  visibility: hidden;
  background-color: white;
  box-shadow: 1px 1px 2px rgb(209, 209, 209);
  border-radius: 10px;
  position: absolute;
  top: 20px;
  z-index: 2000000;
  font-size: 10px;
  transition: all 0.2s;
  white-space: nowrap;
}

.best-list li {
  padding: 0.6rem 0.4rem;
}

#best-item:hover + .best-list,
.nav-item:hover .best-list {
  opacity: 1;
  visibility: visible;
}