@import url(../Css/variables.css);
@import url(../Css/colors/colors.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

body {
    direction: rtl; /* Set the text direction to RTL for the entire document */
    text-align: right; /* Align the content to the right */
    border: none;
    font-family: 'IRANYekan', sans-serif;
    background-color: var(--body-color);
}

.navbar {
    direction: rtl; /* Ensures the navbar respects the RTL layout */
    text-align: right; /* Aligns text within the navbar to the right */
}

.navbar-nav {
    float: right; /* Aligns the navbar items to the right */
    display: inline-block; /* Ensures that the items stay in a row */
    list-style-type: none;
}

.navbar-nav > li {
    float: right; /* Aligns each list item to the right */
}

.nav-link {
    text-align: right; /* Aligns the text within each link to the right */
    display: block; /* Ensures the link is treated as a block-level element */
}
input::placeholder{
    font-size: var(--fs-sm);
    font-weight: 500;
    color: var(--grey-color);
} .form-control:focus{
    outline: none; 
    box-shadow: none; 
    border-color: var(--border-color); 
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1280px;
    overflow-x: hidden;
}
