@import url(../Css/colors/colors.css);
.support {
    position: fixed;
    bottom: 2%;
    left: 2%;
    z-index: 100000;
}

.chat-box {
    width: 340px;
    height: 500px;
    background-color: var(--white-color);
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px var(--grey-color);
    display: none; 
    position: fixed;
    bottom: 35px;
    left: 35px;
   
}

.chat-icon {
    width: 50px;
    height: 50px;
    background-color: var(--chat-color);
    color: white;
    border-radius: 50%;
    transition: all 0.1s ease-in;
    box-shadow: 1px 1px 5px 1px var(--grey-color);
    cursor: pointer;
}

.chat-icon:hover {
    transform: scale(1.1);
}
.chat-header{
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    background-color: var(--chat-color);
}
.chat-header .btn-close {
    filter: invert(100%); /* Inverts the color to white */
    background-color: rgba(226, 226, 226, 0.135); /* Ensure background is transparent */
    border: none; /* Remove border */
    opacity: 1; /* Full opacity */
    font-size: 10px;
    border-radius: 50%;
    padding: 0.5rem;
}