@import url(../Css/colors/colors.css);
.support {
    position: fixed;
    bottom: 2%;
    left: 2%;
    z-index: 100000;
}

.chat-box {
    width: 400px;
    height: 500px;
    background-color: var(--white-color);
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px var(--grey-color);
    display: none; 
    flex-direction: column;
    position: fixed;
    bottom: 35px;
    left: 35px;
    background-image: url(../Images/support-chat/background.jpeg);

}

.chat-icon {
    width: 50px;
    height: 50px;
    background-color: var(--chat-color);
    color: white;
    border-radius: 50%;
    transition: all 0.1s ease-in;
    box-shadow: 1px 1px 5px 1px var(--grey-color);
    cursor: pointer;
    bottom:18px; /* Final position */
    left: 5px;
    z-index: 100000;
    animation: shootUp 0.2s ease-out,rotatation 1.1s ease;
    position: fixed;

}

.chat-icon:hover {
    transform: scale(1.1);
}
.chat-header{
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    background-color: var(--chat-color);
    height: 60px;
}
.chat-header .images img{
width: 22px;
height: 22px;
border-radius: 50%;
}
.info{
    display: flex;
}
.supp-desc{
    font-size: 12px;
}
.chat-header .btn-close {
    filter: invert(100%); 
    background-color: rgba(226, 226, 226, 0.135); 
    border: none; 
    opacity: 1; 
    font-size: 10px;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0 1.2rem;
}
.support-chat{
    width: 300px;
    margin: 2rem auto;
    padding: 1.2rem 2rem;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    font-size: 12px;
    color: var(--grey-color);
    background-color: var(--white-color);
}
.support-chat input{
    border: none;
    border-bottom: 1px solid var(--border-color);
    width: 250px;
    margin: 0.3rem auto;
}
.support-chat  input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--chat-color);
}
.support-chat  button[type="submit"]{
    width: 60px;
    margin: 1.2rem auto;
    background-color: var(--chat-color);
    color: var(--white-color);
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    padding: 0.2rem 0;
}
.support-chat  input[type="submit"]:hover{
opacity: 0.5;
}
.supp-adv{
    font-size: 10px;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    background-color: var(--grey-color);
    margin: auto;
}
.supp-adv svg{
width: 15px;
height:15px;
}
@keyframes shootUp {
    from {
        bottom: -60px; 
        opacity: 0; 
    }
    to {
        bottom: 2%; 
        opacity: 1; 
    }
}
@keyframes rotatation{
    0%{
        transform: rotate(20deg);
    }
    25%{
        transform: rotate(-20deg);

    }
    50%{
        transform: rotate(20deg);

    }
    75%{
        transform: rotate(-20deg);

    }
    100%{
        transform: rotate(0);
    }
}
@media screen and (max-width:568px) {
    .chat-box{
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}